<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="DeviceSQL.ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
                <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="DeviceSQL.ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup>
            
        </startup>
        <userSettings>
                <DeviceSQL.ControlPanel.Properties.Settings>
                        <setting name="UserName" serializeAs="String">
                                <value>sa</value>
                        </setting>
                        <setting name="Password" serializeAs="String">
                                <value>sa</value>
                        </setting>
                </DeviceSQL.ControlPanel.Properties.Settings>
        </userSettings>
        <applicationSettings>
                <DeviceSQL.ControlPanel.Properties.Settings>
                        <setting name="DelimitedServerNameList" serializeAs="String">
                                <value>.\SQLEXPRESS;.\MSSQLSERVER</value>
                        </setting>
                        <setting name="UseSqlAuthentication" serializeAs="String">
                                <value>False</value>
                        </setting>
                </DeviceSQL.ControlPanel.Properties.Settings>
        </applicationSettings>
</configuration>